.header{
  .header_container{
    padding: 0;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header_logo{
      font-family: 'Playfair Display';
      font-size: 25px;
      font-weight: 700;
      line-height: 45px;
      text-transform: uppercase;
      letter-spacing: 1px;
      .header__logo_link{
        text-decoration: none;
        color: #111111;
      }
    }
    .button_modal{
      display: none;
    }
    .header_menu{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 75%;
      padding-left: 0;
      margin-bottom: 0;
      .menu_item{
        list-style: none;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        .item_link{
          text-decoration: none;
          color: #111111;
          padding: 0 11px 14px 11px;
          &:hover{
            border-bottom: 5px solid #e8bf5d;
          }
        }
      }
    }
  }
}
.hero{
  .hero_rows{
    padding: 605px 0 140px 0;
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .hero_name_position{
      padding-left: 16px;
      border-left: 2px solid #e8bf5d;
      .hero_name{
        color: #ffffff;
        font-family: 'Playfair Display';
        font-size: 65px;
        font-weight: 400;
        letter-spacing: 2.6px;
        line-height: 45px;
        padding-bottom: 13px;
      }
      .hero_position{
        color: #ffffff;
        font-family: 'Open Sans';
        font-size: 31px;
        letter-spacing: 1.24px;
        line-height: 36px;
      }
    }
    .hero_bottom{

      .bottom_link{
        background-color: #e8bf5d;
        border-radius: 25px;
        padding: 14px 46px;
        text-decoration: none;
        color: #111111;
        font-family: "Playfair Display";
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.64px;
      }
    }
  }
}
.aboutUs {
  padding-top: 100px;
  padding-bottom: 96px;
  .about_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .about_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px;
    }
    .about_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px;
    }
    .about_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .about_history_expertise{
    width: 95.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    .about_history{
      width: 51.5%;
      .history_title{
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px;
      }
      .history_content{
        .date_rows{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-top: 32px;
          .history_date{
            width: 13.5%;
            color: #111111;
            font-family: 'Open Sans';
            font-size: 21px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.84px;
          }
          .history_text{
            width: 80.5%;
            color: #111111;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.64px;
          }
        }
      }
    }
    .about_expertise{
      width: 44.9%;
      .expertise_title{
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.84px;
      }
      .expertise_text{
        padding-top: 36px;
        color: #666666;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.56px;
      }
    }
  }
}
.practisArea{
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 24px;
  .practis_heading{
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .practis_title{
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px;
    }
    .practis_description{
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px;
    }
    .practis_number_back{
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .practis_content{
    width: 87.4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 110px;
    .practis_block{
      width: 44.8%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding-bottom: 72px;
      .practis_icon{
        padding-right: 29px;
        color: #e8bf5d;
        font-size: 45px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 1.8px;
      }
      .practis_text{
       display: flex;
        flex-direction: column;
        justify-content: start;

        .block_title{
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 21px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.84px;
          padding-bottom: 30px;
        }
        .block_description{
          color: #ffffff;
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.56px;
        }
      }
    }
  }
}
.meetOur{
  padding: 100px 0;
  .meetOur_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .meetOur_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px;
    }
    .meetOur_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px;
    }
    .meetOur_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .meetOur_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    .meetOur_block{
      width: 23.7%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      .meetOur_photo{
        height: 300px;
      }
      .meetOur_name{
        padding-top: 29px;
        color: #111111;
        font-family: "Playfair Display";
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px;
      }
      .meetOur_position{
        padding-top: 10px;
        color: #666666;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.56px;
      }
    }
  }
}
.ourClient{
  padding: 100px 0;
  .ourClient_heading{
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .ourClient_title{
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px;
    }
    .ourClient_description{
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px;
    }
    .ourClient_number_back{
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .slider-content{
    width: 93.7%;
    .slick-dots{
      width: 95%;
      li{
        margin: 0;
        button{
          width: 15px;
          height: 15px;
          &:before{
            opacity: 1;
            width: 15px;
            height: 15px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            content: '';
          }
          &:hover{
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            border-radius: 50%;
          }
        }
      }
      .slick-active{
        button{
          &:before{
            opacity: 1;
            width: 15px;
            height: 15px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            background-color: #ffffff;
          }
        }
      }
    }
    .ourClient_content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 95px;
      .ourClient_block_left{
        width: 36.5%;
        position: relative;
        .ourClient_photo{
          position: absolute;
          top: -20px;
          left: 0;
          height: 305px;
          width: 100%;
          z-index: 1;
        }
        .ourClient_photo_back{
          position: absolute;
          top: 0;
          left: 20px;
          height: 305px;
          width: 100%;
        }
      }
      .ourClient_block_right{
        width: 60.2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .ourClient_icon_comment{
          opacity: 0.25;
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 96px;
          font-weight: 400;
          line-height: 65px;
          letter-spacing: 0.56px;
        }
        .ourClient_comment{
          padding-left: 9px;
          .ourClient_comment_text{
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0.56px;
          }
          .ourClient_comment_author{
            padding-top: 39px;
            color: #ffffff;
            font-family: 'Playfair Display';
            font-size: 21px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.84px;
          }
          .ourClient_comment_author_position{
            padding-bottom: 95px;
            padding-top: 10px;
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.56px;
          }
        }
      }
    }
  }
}
.publication{
  padding: 100px 0;
  .publication_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .publication_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px;
    }
    .publication_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px;
    }
    .publication_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .publication_content{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .publication_block{
      width: 31.5%;
      padding-bottom: 25px;
      border-bottom: 3px solid #e8bf5d;
      .publication_block_photo{
        padding-bottom: 30px;
        img{
          width: 100%;
        }
      }
      .publication_block_title{
        text-decoration: none;
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px;
      }
      .publication_block_info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span, .publication_block_info_date {
          color: #666666;
          font-family: 'Open Sans';
          font-style: italic;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.64px;
        }
        .publication_block_info_author{
          color: #111111;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.64px;
        }
      }
      .publication_block_text{
        padding: 35px 0;
        color: #666666;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.56px;
      }
      .publication_block_comment_info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .publication_block_comment{
          color: #111111;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px;
        }
        .publication_block_comment_share{
          color: #111111;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px;
        }
      }
    }
  }
}
.faq{
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 165px;
  .faq_heading{
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .faq_title{
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px;
    }
    .faq_description{
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px;
    }
    .faq_number_back{
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .faq_content{
    width: 96.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 95px;
    .faq_block_left{
      width: 51.5%;
      .rows_faq_block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #e8bf5d;
        &:hover{
          cursor: pointer;
        }
        .faq_block_text{
          padding-top: 15px;
          padding-bottom: 13px;
          color: #ffffff;
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 0.56px;
        }
        .faq_block_icon{
          padding-top: 13px;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          line-height: 31px;
          letter-spacing: 0.56px;
          .fas{
            font-family: 'Font Awesome 5 Free';
            &:before{
              content: '\f067';
            }
          }
        }
      }
      .active{
        .faq_block_text{
          color: #e8bf5d;
        }
        .faq_block_icon{
          .fas{
            font-family: 'Font Awesome 5 Free';
            &:before{
              content: '\f068';
            }
          }
        }
      }
    }
    .faq_block_right{
      width: 45.5%;
      box-shadow: 0 12px 40px rgba(216, 178, 87, 0.32);
      border-radius: 3px;
      background-color: #e8bf5d;
      padding: 42px 48px 70px 46px;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.56px;
    }
  }
}
.contact{
  padding-top: 100px;
  padding-bottom: 75px;
  .contact_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .contact_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px;
    }
    .contact_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px;
    }
    .contact_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .contact_content{
    margin: 70px auto 0 auto;
    width: 76.3%;
    height: 490px;
    box-shadow: 0 12px 40px rgba(104, 86, 42, 0.1);
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .contact_block_left{
      width: 40.35%;
      .contact_form{
        padding-top: 15px;
        .name_form, .email_form, .phone_form, .message_form{
          width: 100%;
          border: none;
          border-bottom: 2px solid rgba(51, 51, 51, 0.2);
          margin-bottom: 30px;
          padding-bottom: 5px;
          color: #111111;
          font-family: 'Open Sans';
          font-style: italic;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.56px;
          &::placeholder{
            color: #b9b9b9;
            font-family: 'Open Sans';
            font-style: italic;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.56px;
          }
        }
        .message_form{
          padding-bottom: 65px;
          margin-bottom: 30px;
        }
        .button_form{
          border: none;
          border-radius: 25px;
          background-color: #e8bf5d;
          padding: 17px 32px;
          color: #111111;
          font-family: 'Playfair Display';
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px;
        }
      }
    }
    .contact_block_right{
      width: 41.7%;
      height: 100%;
      position: relative;
      .contact_map{
        position: absolute;
        top: 52px;
        right: 36px;
        height: 363px;
        width: 100%;
        z-index: 1;
      }
      .contact_map_back{
        position: absolute;
        top: 75px;
        right: 60px;
        height: 363px;
        width: 100%;
      }
    }
  }
}
.footer{
  background-color: #111111;
  padding: 30px 0;
  .rows_footer{
    width: 96.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .copyright{
      color: #b5b5b5;
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    .social{
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      .social_link{
        padding: 0 5px;
        color: #fbfbfb;
        text-decoration: none;
      }
    }
  }
}
