.header{
  .header_container{
    padding: 0;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header_logo{
      font-family: 'Playfair Display';
      font-size: 25px;
      font-weight: 700;
      line-height: 45px;
      text-transform: uppercase;
      letter-spacing: 1px;
      .header__logo_link{
        text-decoration: none;
        color: #111111;
      }
    }
    .button_modal{
      display: none;
    }
    .header_menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      padding-left: 0;
      margin-bottom: 0;
      .menu_item{
        list-style: none;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        .item_link{
          text-decoration: none;
          color: #111111;
          padding: 0 11px 14px 11px;
          &:hover{
            border-bottom: 5px solid #e8bf5d;
          }
        }
      }
    }
  }
}
.hero{
  .hero_rows{
    padding: 605px 0 140px 0;
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .hero_name_position{
      padding-left: 16px;
      border-left: 2px solid #e8bf5d;
      .hero_name{
        color: #ffffff;
        font-family: 'Playfair Display';
        font-size: 65px;
        font-weight: 400;
        letter-spacing: 2.6px;
        line-height: 45px;
        padding-bottom: 13px;
      }
      .hero_position{
        color: #ffffff;
        font-family: 'Open Sans';
        font-size: 31px;
        letter-spacing: 1.24px;
        line-height: 36px;
      }
    }
    .hero_bottom{

      .bottom_link{
        background-color: #e8bf5d;
        border-radius: 25px;
        padding: 14px 46px;
        text-decoration: none;
        color: #111111;
        font-family: "Playfair Display";
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.64px;
      }
    }
  }
}
.aboutUs {
  padding-top: 100px;
  padding-bottom: 96px;
  .about_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .about_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px;
    }
    .about_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px;
    }
    .about_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .about_history_expertise{
    width: 95.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    .about_history{
      width: 51.5%;
      .history_title{
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px;
      }
      .history_content{
        .date_rows{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-top: 32px;
          .history_date{
            width: 13.5%;
            color: #111111;
            font-family: 'Open Sans';
            font-size: 21px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.84px;
          }
          .history_text{
            width: 80.5%;
            color: #111111;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.64px;
          }
        }
      }
    }
    .about_expertise{
      width: 44.9%;
      .expertise_title{
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.84px;
      }
      .expertise_text{
        padding-top: 36px;
        color: #666666;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.56px;
      }
    }
  }
}
.practisArea{
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 24px;
  .practis_heading{
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .practis_title{
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px;
    }
    .practis_description{
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px;
    }
    .practis_number_back{
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .practis_content{
    width: 87.4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 110px;
    .practis_block{
      width: 44.8%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding-bottom: 72px;
      .practis_icon{
        padding-right: 29px;
        color: #e8bf5d;
        font-size: 45px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 1.8px;
      }
      .practis_text{
       display: flex;
        flex-direction: column;
        justify-content: start;

        .block_title{
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 21px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.84px;
          padding-bottom: 30px;
        }
        .block_description{
          color: #ffffff;
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.56px;
        }
      }
    }
  }
}
.meetOur{
  padding: 100px 0;
  .meetOur_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .meetOur_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px;
    }
    .meetOur_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px;
    }
    .meetOur_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .meetOur_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    .meetOur_block{
      width: 23.7%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      .meetOur_photo{
        height: 300px;
      }
      .meetOur_name{
        padding-top: 29px;
        color: #111111;
        font-family: "Playfair Display";
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px;
      }
      .meetOur_position{
        padding-top: 10px;
        color: #666666;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.56px;
      }
    }
  }
}
.ourClient{
  padding: 100px 0;
  .ourClient_heading{
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px;
    .ourClient_title{
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px;
    }
    .ourClient_description{
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px;
    }
    .ourClient_number_back{
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px;
    }
  }
  .slider-content{
    width: 93.7%;
    .slick-dots{
      width: 95%;
      li{
        margin: 0;
        button{
          width: 15px;
          height: 15px;
          &:before{
            opacity: 1;
            width: 15px;
            height: 15px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            content: '';
          }
          &:hover{
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            border-radius: 50%;
          }
        }
      }
      .slick-active{
        button{
          &:before{
            opacity: 1;
            width: 15px;
            height: 15px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            background-color: #ffffff;
          }
        }
      }
    }
    .ourClient_content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 95px;
      .ourClient_block_left{
        width: 36.5%;
        position: relative;
        .ourClient_photo{
          position: absolute;
          top: -20px;
          left: 0;
          height: 305px;
          width: 370px;
          z-index: 1;
        }
        .ourClient_photo_back{
          position: absolute;
          top: 0;
          left: 20px;
          height: 305px;
          width: 370px;
        }
      }
      .ourClient_block_right{
        width: 60.2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .ourClient_icon_comment{
          opacity: 0.25;
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 96px;
          font-weight: 400;
          line-height: 65px;
          letter-spacing: 0.56px;
        }
        .ourClient_comment{
          padding-left: 9px;
          .ourClient_comment_text{
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0.56px;
          }
          .ourClient_comment_author{
            padding-top: 39px;
            color: #ffffff;
            font-family: 'Playfair Display';
            font-size: 21px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.84px;
          }
          .ourClient_comment_author_position{
            padding-bottom: 95px;
            padding-top: 10px;
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.56px;
          }
        }
      }
    }
  }
}
