.header .header_container {
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 575.99px) {
    .header .header_container {
      height: 60px; } }
  .header .header_container .header_logo {
    font-family: 'Playfair Display';
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .header .header_container .header_logo .header__logo_link {
      text-decoration: none;
      color: #111111; }
  .header .header_container .button_modal {
    display: none; }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .header .header_container .button_modal {
        display: block; }
        .header .header_container .button_modal .fas {
          font-size: 20px; } }
    @media (max-width: 575.99px) {
      .header .header_container .button_modal {
        display: block; }
        .header .header_container .button_modal .fas {
          font-size: 20px; } }
  .header .header_container .modal .modal-content {
    background-color: #ffffff; }
    .header .header_container .modal .modal-content .close {
      margin: 10px 0 0 0; }
    .header .header_container .modal .modal-content .header_menu_mobile {
      padding-left: 0; }
      .header .header_container .modal .modal-content .header_menu_mobile .menu_item {
        list-style: none;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        padding-bottom: 10px; }
        .header .header_container .modal .modal-content .header_menu_mobile .menu_item .item_link {
          text-decoration: none;
          color: #111111; }
  .header .header_container .header_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0; }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .header .header_container .header_menu {
        display: none; } }
    @media (max-width: 575.99px) {
      .header .header_container .header_menu {
        display: none; } }
    .header .header_container .header_menu .menu_item {
      list-style: none;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 400;
      line-height: 45px;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
      .header .header_container .header_menu .menu_item .item_link {
        text-decoration: none;
        color: #111111;
        padding: 0 11px 14px 11px; }
        @media (min-width: 768px) and (max-width: 991.99px) {
          .header .header_container .header_menu .menu_item .item_link {
            padding: 0 7px; } }
        .header .header_container .header_menu .menu_item .item_link:hover {
          border-bottom: 5px solid #e8bf5d; }

.hero .hero_rows {
  padding: 605px 0 140px 0;
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) and (max-width: 991.99px) {
    .hero .hero_rows {
      width: 100%; } }
  @media (min-width: 576px) and (max-width: 766.99px) {
    .hero .hero_rows {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media (max-width: 575.99px) {
    .hero .hero_rows {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .hero .hero_rows .hero_name_position {
    padding-left: 16px;
    border-left: 2px solid #e8bf5d; }
    .hero .hero_rows .hero_name_position .hero_name {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 65px;
      font-weight: 400;
      letter-spacing: 2.6px;
      line-height: 55px;
      padding-bottom: 13px; }
    .hero .hero_rows .hero_name_position .hero_position {
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 31px;
      letter-spacing: 1.24px;
      line-height: 36px; }
  @media (min-width: 576px) and (max-width: 766.99px) {
    .hero .hero_rows .hero_bottom {
      padding-top: 50px; } }
  @media (max-width: 575.99px) {
    .hero .hero_rows .hero_bottom {
      padding-top: 50px; } }
  .hero .hero_rows .hero_bottom .bottom_link {
    background-color: #e8bf5d;
    border-radius: 25px;
    padding: 14px 46px;
    text-decoration: none;
    color: #111111;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.64px; }

.aboutUs {
  padding-top: 100px;
  padding-bottom: 96px; }
  @media (max-width: 575.99px) {
    .aboutUs {
      padding-left: 10px;
      padding-right: 10px; } }
  .aboutUs .about_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .aboutUs .about_heading {
        width: 80%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .aboutUs .about_heading {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .aboutUs .about_heading {
        width: 100%; } }
    .aboutUs .about_heading .about_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px; }
    .aboutUs .about_heading .about_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px; }
    .aboutUs .about_heading .about_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .aboutUs .about_history_expertise {
    width: 95.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .aboutUs .about_history_expertise {
        width: 100%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .aboutUs .about_history_expertise {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px; } }
    @media (max-width: 575.99px) {
      .aboutUs .about_history_expertise {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px; } }
    .aboutUs .about_history_expertise .about_history {
      width: 51.5%; }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .aboutUs .about_history_expertise .about_history {
          width: 100%; } }
      @media (max-width: 575.99px) {
        .aboutUs .about_history_expertise .about_history {
          width: 100%; } }
      .aboutUs .about_history_expertise .about_history .history_title {
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px; }
      .aboutUs .about_history_expertise .about_history .history_content .date_rows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 32px; }
        .aboutUs .about_history_expertise .about_history .history_content .date_rows .history_date {
          color: #111111;
          font-family: 'Open Sans';
          font-size: 21px;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0.84px; }
          @media (max-width: 390px) {
            .aboutUs .about_history_expertise .about_history .history_content .date_rows .history_date {
              font-size: 17px; } }
        .aboutUs .about_history_expertise .about_history .history_content .date_rows .history_text {
          width: 80.5%;
          color: #111111;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.64px; }
    .aboutUs .about_history_expertise .about_expertise {
      width: 44.9%; }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .aboutUs .about_history_expertise .about_expertise {
          width: 100%; } }
      @media (max-width: 575.99px) {
        .aboutUs .about_history_expertise .about_expertise {
          width: 100%; } }
      .aboutUs .about_history_expertise .about_expertise .expertise_title {
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.84px; }
        @media (min-width: 576px) and (max-width: 766.99px) {
          .aboutUs .about_history_expertise .about_expertise .expertise_title {
            padding-top: 30px; } }
        @media (max-width: 575.99px) {
          .aboutUs .about_history_expertise .about_expertise .expertise_title {
            padding-top: 30px; } }
      .aboutUs .about_history_expertise .about_expertise .expertise_text {
        padding-top: 36px;
        color: #666666;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.56px; }

.practisArea {
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 24px; }
  @media (max-width: 575.99px) {
    .practisArea {
      padding-left: 10px;
      padding-right: 10px; } }
  .practisArea .practis_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .practisArea .practis_heading {
        width: 80%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .practisArea .practis_heading {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .practisArea .practis_heading {
        width: 100%; } }
    .practisArea .practis_heading .practis_title {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px; }
    .practisArea .practis_heading .practis_description {
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px; }
    .practisArea .practis_heading .practis_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .practisArea .practis_content {
    width: 87.4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 110px; }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .practisArea .practis_content {
        width: 100%;
        margin-left: 0; } }
    @media (max-width: 575.99px) {
      .practisArea .practis_content {
        width: 100%;
        margin-left: 0; } }
    .practisArea .practis_content .practis_block {
      width: 44.8%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding-bottom: 72px; }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .practisArea .practis_content .practis_block {
          width: 48%; } }
      @media (max-width: 575.99px) {
        .practisArea .practis_content .practis_block {
          width: 100%; } }
      .practisArea .practis_content .practis_block .practis_icon {
        padding-right: 29px;
        color: #e8bf5d;
        font-size: 45px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 1.8px; }
      .practisArea .practis_content .practis_block .practis_text {
        display: flex;
        flex-direction: column;
        justify-content: start; }
        .practisArea .practis_content .practis_block .practis_text .block_title {
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 21px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.84px;
          padding-bottom: 30px; }
        .practisArea .practis_content .practis_block .practis_text .block_description {
          color: #ffffff;
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.56px; }

.meetOur {
  padding: 100px 0; }
  @media (min-width: 768px) and (max-width: 991.99px) {
    .meetOur {
      padding-bottom: 50px; } }
  @media (min-width: 576px) and (max-width: 766.99px) {
    .meetOur {
      padding-bottom: 50px; } }
  @media (max-width: 575.99px) {
    .meetOur {
      padding: 100px 10px 50px 10px; } }
  .meetOur .meetOur_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .meetOur .meetOur_heading {
        width: 80%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .meetOur .meetOur_heading {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .meetOur .meetOur_heading {
        width: 100%; } }
    .meetOur .meetOur_heading .meetOur_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 1.24px; }
    .meetOur .meetOur_heading .meetOur_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px; }
    .meetOur .meetOur_heading .meetOur_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .meetOur .meetOur_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .meetOur .meetOur_content {
        justify-content: space-around; } }
    @media (max-width: 575.99px) {
      .meetOur .meetOur_content {
        justify-content: center; } }
    .meetOur .meetOur_content .meetOur_block {
      width: 23.7%;
      display: flex;
      flex-direction: column;
      justify-content: start; }
      @media (min-width: 768px) and (max-width: 991.99px) {
        .meetOur .meetOur_content .meetOur_block {
          width: 40%;
          padding-bottom: 25px; } }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .meetOur .meetOur_content .meetOur_block {
          width: 48%;
          padding-bottom: 25px; } }
      @media (max-width: 575.99px) {
        .meetOur .meetOur_content .meetOur_block {
          width: 90%;
          padding-bottom: 25px; } }
      .meetOur .meetOur_content .meetOur_block .meetOur_photo {
        height: 300px; }
      .meetOur .meetOur_content .meetOur_block .meetOur_name {
        padding-top: 29px;
        color: #111111;
        font-family: "Playfair Display";
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px; }
      .meetOur .meetOur_content .meetOur_block .meetOur_position {
        padding-top: 10px;
        color: #666666;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.56px; }

.ourClient {
  padding: 100px 0; }
  @media (min-width: 768px) and (max-width: 991.99px) {
    .ourClient {
      padding-bottom: 50px; } }
  @media (min-width: 576px) and (max-width: 766.99px) {
    .ourClient {
      padding-bottom: 50px; } }
  @media (max-width: 575.99px) {
    .ourClient {
      padding: 100px 10px 50px 10px; } }
  .ourClient .ourClient_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .ourClient .ourClient_heading {
        width: 80%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .ourClient .ourClient_heading {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .ourClient .ourClient_heading {
        width: 100%; } }
    .ourClient .ourClient_heading .ourClient_title {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px; }
    .ourClient .ourClient_heading .ourClient_description {
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px; }
    .ourClient .ourClient_heading .ourClient_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .ourClient .slider-content {
    width: 93.7%; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .ourClient .slider-content {
        width: 100%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .ourClient .slider-content {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .ourClient .slider-content {
        width: 100%; } }
    .ourClient .slider-content .slick-dots {
      width: 95%; }
      .ourClient .slider-content .slick-dots li {
        margin: 0; }
        .ourClient .slider-content .slick-dots li button {
          width: 15px;
          height: 15px; }
          .ourClient .slider-content .slick-dots li button:before {
            opacity: 1;
            width: 15px;
            height: 15px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            content: ''; }
          .ourClient .slider-content .slick-dots li button:hover {
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            border-radius: 50%; }
      .ourClient .slider-content .slick-dots .slick-active button:before {
        opacity: 1;
        width: 15px;
        height: 15px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: #ffffff; }
    .ourClient .slider-content .ourClient_content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 95px; }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .ourClient .slider-content .ourClient_content {
          flex-direction: column;
          justify-content: center; } }
      @media (max-width: 575.99px) {
        .ourClient .slider-content .ourClient_content {
          flex-direction: column;
          justify-content: center; } }
      .ourClient .slider-content .ourClient_content .ourClient_block_left {
        width: 36.5%;
        height: 325px;
        position: relative; }
        @media (min-width: 768px) and (max-width: 991.99px) {
          .ourClient .slider-content .ourClient_content .ourClient_block_left {
            width: 40%; } }
        @media (min-width: 576px) and (max-width: 766.99px) {
          .ourClient .slider-content .ourClient_content .ourClient_block_left {
            width: 85%; } }
        @media (max-width: 575.99px) {
          .ourClient .slider-content .ourClient_content .ourClient_block_left {
            width: 85%; } }
        .ourClient .slider-content .ourClient_content .ourClient_block_left .ourClient_photo {
          position: absolute;
          top: -20px;
          left: 0;
          height: 305px;
          width: 100%;
          z-index: 1; }
        .ourClient .slider-content .ourClient_content .ourClient_block_left .ourClient_photo_back {
          position: absolute;
          top: 0;
          left: 20px;
          height: 305px;
          width: 100%; }
      .ourClient .slider-content .ourClient_content .ourClient_block_right {
        width: 60.2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        @media (min-width: 768px) and (max-width: 991.99px) {
          .ourClient .slider-content .ourClient_content .ourClient_block_right {
            width: 50%; } }
        @media (min-width: 576px) and (max-width: 766.99px) {
          .ourClient .slider-content .ourClient_content .ourClient_block_right {
            width: 95%;
            padding-top: 30px; } }
        @media (max-width: 575.99px) {
          .ourClient .slider-content .ourClient_content .ourClient_block_right {
            width: 90%;
            padding-top: 30px; } }
        .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_icon_comment {
          opacity: 0.25;
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 96px;
          font-weight: 400;
          line-height: 65px;
          letter-spacing: 0.56px; }
        .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment {
          padding-left: 9px; }
          .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment .ourClient_comment_text {
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0.56px; }
          .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment .ourClient_comment_author {
            padding-top: 39px;
            color: #ffffff;
            font-family: 'Playfair Display';
            font-size: 21px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.84px; }
          .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment .ourClient_comment_author_position {
            padding-bottom: 95px;
            padding-top: 10px;
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.56px; }

.publication {
  padding: 100px 0; }
  @media (min-width: 768px) and (max-width: 991.99px) {
    .publication {
      padding-bottom: 50px; } }
  @media (min-width: 576px) and (max-width: 766.99px) {
    .publication {
      padding-bottom: 50px; } }
  @media (max-width: 575.99px) {
    .publication {
      padding: 100px 10px 50px 10px; } }
  .publication .publication_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .publication .publication_heading {
        width: 80%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .publication .publication_heading {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .publication .publication_heading {
        width: 100%; } }
    .publication .publication_heading .publication_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 26px;
      font-weight: 400;
      letter-spacing: 1.24px; }
    .publication .publication_heading .publication_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px; }
    .publication .publication_heading .publication_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .publication .publication_content {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .publication .publication_content {
        justify-content: center; } }
    @media (max-width: 575.99px) {
      .publication .publication_content {
        justify-content: center; } }
    .publication .publication_content .publication_block {
      width: 31.5%;
      padding-bottom: 25px;
      border-bottom: 3px solid #e8bf5d; }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .publication .publication_content .publication_block {
          width: 95%;
          margin-bottom: 25px; } }
      @media (max-width: 575.99px) {
        .publication .publication_content .publication_block {
          width: 95%;
          margin-bottom: 25px; } }
      .publication .publication_content .publication_block .publication_block_photo {
        padding-bottom: 30px; }
        .publication .publication_content .publication_block .publication_block_photo img {
          width: 100%; }
      .publication .publication_content .publication_block .publication_block_title {
        text-decoration: none;
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px; }
      .publication .publication_content .publication_block .publication_block_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .publication .publication_content .publication_block .publication_block_info span, .publication .publication_content .publication_block .publication_block_info .publication_block_info_date {
          color: #666666;
          font-family: 'Open Sans';
          font-style: italic;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.64px; }
          @media (min-width: 768px) and (max-width: 991.99px) {
            .publication .publication_content .publication_block .publication_block_info span, .publication .publication_content .publication_block .publication_block_info .publication_block_info_date {
              font-size: 14px; } }
        .publication .publication_content .publication_block .publication_block_info .publication_block_info_author {
          color: #111111;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.64px; }
          @media (min-width: 768px) and (max-width: 991.99px) {
            .publication .publication_content .publication_block .publication_block_info .publication_block_info_author {
              font-size: 14px; } }
      .publication .publication_content .publication_block .publication_block_text {
        padding: 35px 0;
        color: #666666;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.56px; }
      .publication .publication_content .publication_block .publication_block_comment_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .publication .publication_content .publication_block .publication_block_comment_info .publication_block_comment {
          color: #111111;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px; }
        .publication .publication_content .publication_block .publication_block_comment_info .publication_block_comment_share {
          color: #111111;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px; }

.faq {
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 165px; }
  @media (min-width: 576px) and (max-width: 766.99px) {
    .faq {
      padding-bottom: 75px; } }
  @media (max-width: 575.99px) {
    .faq {
      padding: 100px 10px 75px 10px; } }
  .faq .faq_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .faq .faq_heading {
        width: 80%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .faq .faq_heading {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .faq .faq_heading {
        width: 100%; } }
    .faq .faq_heading .faq_title {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px; }
    .faq .faq_heading .faq_description {
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px; }
    .faq .faq_heading .faq_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .faq .faq_content {
    width: 96.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 95px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .faq .faq_content {
        width: 100%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .faq .faq_content {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .faq .faq_content {
        width: 100%; } }
    .faq .faq_content .faq_block_left {
      width: 51.5%; }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .faq .faq_content .faq_block_left {
          width: 100%;
          margin-bottom: 25px; } }
      @media (max-width: 575.99px) {
        .faq .faq_content .faq_block_left {
          width: 100%;
          margin-bottom: 25px; } }
      .faq .faq_content .faq_block_left .rows_faq_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #e8bf5d; }
        .faq .faq_content .faq_block_left .rows_faq_block:hover {
          cursor: pointer; }
        .faq .faq_content .faq_block_left .rows_faq_block .faq_block_text {
          padding-top: 15px;
          padding-bottom: 13px;
          color: #ffffff;
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 0.56px; }
        .faq .faq_content .faq_block_left .rows_faq_block .faq_block_icon {
          padding-top: 13px;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          line-height: 31px;
          letter-spacing: 0.56px; }
          .faq .faq_content .faq_block_left .rows_faq_block .faq_block_icon .fas {
            font-family: 'Font Awesome 5 Free'; }
            .faq .faq_content .faq_block_left .rows_faq_block .faq_block_icon .fas:before {
              content: '\f067'; }
      .faq .faq_content .faq_block_left .active .faq_block_text {
        color: #e8bf5d; }
      .faq .faq_content .faq_block_left .active .faq_block_icon .fas {
        font-family: 'Font Awesome 5 Free'; }
        .faq .faq_content .faq_block_left .active .faq_block_icon .fas:before {
          content: '\f068'; }
    .faq .faq_content .faq_block_right {
      width: 45.5%;
      box-shadow: 0 12px 40px rgba(216, 178, 87, 0.32);
      border-radius: 3px;
      background-color: #e8bf5d;
      padding: 42px 48px 70px 46px;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.56px; }
      @media (min-width: 768px) and (max-width: 991.99px) {
        .faq .faq_content .faq_block_right {
          padding: 35px 35px 35px 35px; } }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .faq .faq_content .faq_block_right {
          width: 100%;
          padding: 35px 35px 35px 35px; } }
      @media (max-width: 575.99px) {
        .faq .faq_content .faq_block_right {
          width: 100%;
          padding: 35px 35px 35px 35px; } }

.contact {
  padding-top: 100px;
  padding-bottom: 75px; }
  @media (max-width: 575.99px) {
    .contact {
      padding: 100px 10px 75px 10px; } }
  .contact .contact_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .contact .contact_heading {
        width: 80%; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .contact .contact_heading {
        width: 100%; } }
    @media (max-width: 575.99px) {
      .contact .contact_heading {
        width: 100%; } }
    .contact .contact_heading .contact_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px; }
    .contact .contact_heading .contact_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px; }
    .contact .contact_heading .contact_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .contact .contact_content {
    margin: 70px auto 0 auto;
    width: 76.3%;
    height: 490px;
    box-shadow: 0 12px 40px rgba(104, 86, 42, 0.1);
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    @media (min-width: 768px) and (max-width: 991.99px) {
      .contact .contact_content {
        width: 100%;
        height: 470px; } }
    @media (min-width: 576px) and (max-width: 766.99px) {
      .contact .contact_content {
        width: 95%;
        height: 800px; } }
    @media (max-width: 575.99px) {
      .contact .contact_content {
        width: 95%;
        height: 800px; } }
    .contact .contact_content .contact_block_left {
      width: 40.35%; }
      @media (min-width: 768px) and (max-width: 991.99px) {
        .contact .contact_content .contact_block_left {
          width: 45%; } }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .contact .contact_content .contact_block_left {
          width: 90%;
          padding-bottom: 25px; } }
      @media (max-width: 575.99px) {
        .contact .contact_content .contact_block_left {
          width: 95%;
          padding-bottom: 25px; } }
      .contact .contact_content .contact_block_left .contact_form {
        padding-top: 15px; }
        .contact .contact_content .contact_block_left .contact_form .name_form, .contact .contact_content .contact_block_left .contact_form .email_form, .contact .contact_content .contact_block_left .contact_form .phone_form, .contact .contact_content .contact_block_left .contact_form .message_form {
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 2px solid rgba(51, 51, 51, 0.2);
          margin-bottom: 30px;
          padding-bottom: 5px;
          color: #111111;
          font-family: 'Open Sans';
          font-style: italic;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.56px; }
          .contact .contact_content .contact_block_left .contact_form .name_form::placeholder, .contact .contact_content .contact_block_left .contact_form .email_form::placeholder, .contact .contact_content .contact_block_left .contact_form .phone_form::placeholder, .contact .contact_content .contact_block_left .contact_form .message_form::placeholder {
            color: #b9b9b9;
            font-family: 'Open Sans';
            font-style: italic;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.56px; }
        .contact .contact_content .contact_block_left .contact_form .message_form {
          padding-bottom: 65px;
          margin-bottom: 30px; }
        .contact .contact_content .contact_block_left .contact_form .button_form {
          border: none;
          outline: none;
          border-radius: 25px;
          background-color: #e8bf5d;
          padding: 17px 32px;
          color: #111111;
          font-family: 'Playfair Display';
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px; }
    .contact .contact_content .contact_block_right {
      width: 42%;
      height: 100%;
      position: relative; }
      @media (min-width: 768px) and (max-width: 991.99px) {
        .contact .contact_content .contact_block_right {
          width: 45%; } }
      @media (min-width: 576px) and (max-width: 766.99px) {
        .contact .contact_content .contact_block_right {
          width: 85%;
          height: 57%; } }
      @media (max-width: 575.99px) {
        .contact .contact_content .contact_block_right {
          width: 85%;
          height: 55%; } }
      .contact .contact_content .contact_block_right .contact_map {
        position: absolute;
        top: 50px;
        right: 0;
        height: 363px;
        width: 100%;
        z-index: 1; }
      .contact .contact_content .contact_block_right .contact_map_back {
        position: absolute;
        top: 75px;
        right: 25px;
        height: 363px;
        width: 100%; }

.footer {
  background-color: #111111;
  padding: 30px 0; }
  .footer .rows_footer {
    width: 96.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 575.99px) {
      .footer .rows_footer {
        width: 100%; } }
    .footer .rows_footer .copyright {
      color: #b5b5b5;
      font-family: 'Open Sans';
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; }
      @media (max-width: 390px) {
        .footer .rows_footer .copyright {
          width: 50%; } }
    .footer .rows_footer .social {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px; }
      @media (max-width: 390px) {
        .footer .rows_footer .social {
          width: 50%;
          text-align: end; } }
      .footer .rows_footer .social .social_link {
        padding: 0 5px;
        color: #fbfbfb;
        text-decoration: none; }
