.header .header_container {
  padding: 0;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header .header_container .header_logo {
    font-family: 'Playfair Display';
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .header .header_container .header_logo .header__logo_link {
      text-decoration: none;
      color: #111111; }
  .header .header_container .button_modal {
    display: none; }
  .header .header_container .header_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    padding-left: 0;
    margin-bottom: 0; }
    .header .header_container .header_menu .menu_item {
      list-style: none;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 400;
      line-height: 45px;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
      .header .header_container .header_menu .menu_item .item_link {
        text-decoration: none;
        color: #111111;
        padding: 0 11px 14px 11px; }
        .header .header_container .header_menu .menu_item .item_link:hover {
          border-bottom: 5px solid #e8bf5d; }

.hero .hero_rows {
  padding: 605px 0 140px 0;
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .hero .hero_rows .hero_name_position {
    padding-left: 16px;
    border-left: 2px solid #e8bf5d; }
    .hero .hero_rows .hero_name_position .hero_name {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 65px;
      font-weight: 400;
      letter-spacing: 2.6px;
      line-height: 45px;
      padding-bottom: 13px; }
    .hero .hero_rows .hero_name_position .hero_position {
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 31px;
      letter-spacing: 1.24px;
      line-height: 36px; }
  .hero .hero_rows .hero_bottom .bottom_link {
    background-color: #e8bf5d;
    border-radius: 25px;
    padding: 14px 46px;
    text-decoration: none;
    color: #111111;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.64px; }

.aboutUs {
  padding-top: 100px;
  padding-bottom: 96px; }
  .aboutUs .about_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    .aboutUs .about_heading .about_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px; }
    .aboutUs .about_heading .about_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px; }
    .aboutUs .about_heading .about_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .aboutUs .about_history_expertise {
    width: 95.6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px; }
    .aboutUs .about_history_expertise .about_history {
      width: 51.5%; }
      .aboutUs .about_history_expertise .about_history .history_title {
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px; }
      .aboutUs .about_history_expertise .about_history .history_content .date_rows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 32px; }
        .aboutUs .about_history_expertise .about_history .history_content .date_rows .history_date {
          width: 13.5%;
          color: #111111;
          font-family: 'Open Sans';
          font-size: 21px;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0.84px; }
        .aboutUs .about_history_expertise .about_history .history_content .date_rows .history_text {
          width: 80.5%;
          color: #111111;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.64px; }
    .aboutUs .about_history_expertise .about_expertise {
      width: 44.9%; }
      .aboutUs .about_history_expertise .about_expertise .expertise_title {
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.84px; }
      .aboutUs .about_history_expertise .about_expertise .expertise_text {
        padding-top: 36px;
        color: #666666;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.56px; }

.practisArea {
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 24px; }
  .practisArea .practis_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    .practisArea .practis_heading .practis_title {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px; }
    .practisArea .practis_heading .practis_description {
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px; }
    .practisArea .practis_heading .practis_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .practisArea .practis_content {
    width: 87.4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 110px; }
    .practisArea .practis_content .practis_block {
      width: 44.8%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding-bottom: 72px; }
      .practisArea .practis_content .practis_block .practis_icon {
        padding-right: 29px;
        color: #e8bf5d;
        font-size: 45px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 1.8px; }
      .practisArea .practis_content .practis_block .practis_text {
        display: flex;
        flex-direction: column;
        justify-content: start; }
        .practisArea .practis_content .practis_block .practis_text .block_title {
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 21px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.84px;
          padding-bottom: 30px; }
        .practisArea .practis_content .practis_block .practis_text .block_description {
          color: #ffffff;
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.56px; }

.meetOur {
  padding: 100px 0; }
  .meetOur .meetOur_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    .meetOur .meetOur_heading .meetOur_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px; }
    .meetOur .meetOur_heading .meetOur_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px; }
    .meetOur .meetOur_heading .meetOur_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .meetOur .meetOur_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px; }
    .meetOur .meetOur_content .meetOur_block {
      width: 23.7%;
      display: flex;
      flex-direction: column;
      justify-content: start; }
      .meetOur .meetOur_content .meetOur_block .meetOur_photo {
        height: 300px; }
      .meetOur .meetOur_content .meetOur_block .meetOur_name {
        padding-top: 29px;
        color: #111111;
        font-family: "Playfair Display";
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px; }
      .meetOur .meetOur_content .meetOur_block .meetOur_position {
        padding-top: 10px;
        color: #666666;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.56px; }

.ourClient {
  padding: 100px 0; }
  .ourClient .ourClient_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    .ourClient .ourClient_heading .ourClient_title {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px; }
    .ourClient .ourClient_heading .ourClient_description {
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px; }
    .ourClient .ourClient_heading .ourClient_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .ourClient .slider-content {
    width: 93.7%; }
    .ourClient .slider-content .slick-dots {
      width: 95%; }
      .ourClient .slider-content .slick-dots li {
        margin: 0; }
        .ourClient .slider-content .slick-dots li button {
          width: 15px;
          height: 15px; }
          .ourClient .slider-content .slick-dots li button:before {
            opacity: 1;
            width: 15px;
            height: 15px;
            border: 1px solid #ffffff;
            border-radius: 50%;
            content: ''; }
          .ourClient .slider-content .slick-dots li button:hover {
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            border-radius: 50%; }
      .ourClient .slider-content .slick-dots .slick-active button:before {
        opacity: 1;
        width: 15px;
        height: 15px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        background-color: #ffffff; }
    .ourClient .slider-content .ourClient_content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 95px; }
      .ourClient .slider-content .ourClient_content .ourClient_block_left {
        width: 36.5%;
        position: relative; }
        .ourClient .slider-content .ourClient_content .ourClient_block_left .ourClient_photo {
          position: absolute;
          top: -20px;
          left: 0;
          height: 305px;
          width: 100%;
          z-index: 1; }
        .ourClient .slider-content .ourClient_content .ourClient_block_left .ourClient_photo_back {
          position: absolute;
          top: 0;
          left: 20px;
          height: 305px;
          width: 100%; }
      .ourClient .slider-content .ourClient_content .ourClient_block_right {
        width: 60.2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_icon_comment {
          opacity: 0.25;
          color: #ffffff;
          font-family: 'Playfair Display';
          font-size: 96px;
          font-weight: 400;
          line-height: 65px;
          letter-spacing: 0.56px; }
        .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment {
          padding-left: 9px; }
          .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment .ourClient_comment_text {
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0.56px; }
          .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment .ourClient_comment_author {
            padding-top: 39px;
            color: #ffffff;
            font-family: 'Playfair Display';
            font-size: 21px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.84px; }
          .ourClient .slider-content .ourClient_content .ourClient_block_right .ourClient_comment .ourClient_comment_author_position {
            padding-bottom: 95px;
            padding-top: 10px;
            color: #ffffff;
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.56px; }

.publication {
  padding: 100px 0; }
  .publication .publication_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    .publication .publication_heading .publication_title {
      color: #111111;
      font-family: 'Playfair Display';
      font-size: 31px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 1.24px; }
    .publication .publication_heading .publication_description {
      padding-top: 29px;
      color: #666666;
      font-family: 'Playfair Display';
      font-size: 21px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0.84px; }
    .publication .publication_heading .publication_number_back {
      position: absolute;
      top: -55px;
      left: 0;
      opacity: 0.1;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .publication .publication_content {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .publication .publication_content .publication_block {
      width: 31.5%;
      padding-bottom: 25px;
      border-bottom: 3px solid #e8bf5d; }
      .publication .publication_content .publication_block .publication_block_photo {
        padding-bottom: 30px; }
        .publication .publication_content .publication_block .publication_block_photo img {
          width: 100%; }
      .publication .publication_content .publication_block .publication_block_title {
        text-decoration: none;
        color: #111111;
        font-family: 'Playfair Display';
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.84px; }
      .publication .publication_content .publication_block .publication_block_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .publication .publication_content .publication_block .publication_block_info span, .publication .publication_content .publication_block .publication_block_info .publication_block_info_date {
          color: #666666;
          font-family: 'Open Sans';
          font-style: italic;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.64px; }
        .publication .publication_content .publication_block .publication_block_info .publication_block_info_author {
          color: #111111;
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.64px; }
      .publication .publication_content .publication_block .publication_block_text {
        padding: 35px 0;
        color: #666666;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.56px; }
      .publication .publication_content .publication_block .publication_block_comment_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .publication .publication_content .publication_block .publication_block_comment_info .publication_block_comment {
          color: #111111;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px; }
        .publication .publication_content .publication_block .publication_block_comment_info .publication_block_comment_share {
          color: #111111;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.64px; }

.faq {
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 165px; }
  .faq .faq_heading {
    width: 69%;
    position: relative;
    border-left: 2px solid #e8bf5d;
    padding-left: 18px; }
    .faq .faq_heading .faq_title {
      color: #ffffff;
      font-family: 'Playfair Display';
      font-size: 31px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 1.24px; }
    .faq .faq_heading .faq_description {
      padding-top: 29px;
      color: #b9b9b9;
      font-family: "Playfair Display";
      font-size: 21px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.84px; }
    .faq .faq_heading .faq_number_back {
      position: absolute;
      top: -58px;
      left: 0;
      opacity: 0.1;
      color: #ffffff;
      font-family: 'Open Sans';
      font-size: 195px;
      line-height: 200px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .faq .faq_content {
    width: 96.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 95px; }
    .faq .faq_content .faq_block_left {
      width: 51.5%; }
      .faq .faq_content .faq_block_left .rows_faq_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid #e8bf5d; }
        .faq .faq_content .faq_block_left .rows_faq_block:hover {
          cursor: pointer; }
        .faq .faq_content .faq_block_left .rows_faq_block .faq_block_text {
          padding-top: 15px;
          padding-bottom: 13px;
          color: #ffffff;
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 0.56px; }
        .faq .faq_content .faq_block_left .rows_faq_block .faq_block_icon {
          padding-top: 13px;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          line-height: 31px;
          letter-spacing: 0.56px; }
          .faq .faq_content .faq_block_left .rows_faq_block .faq_block_icon .fas {
            font-family: 'Font Awesome 5 Free'; }
            .faq .faq_content .faq_block_left .rows_faq_block .faq_block_icon .fas:before {
              content: '\f067'; }
      .faq .faq_content .faq_block_left .active .faq_block_text {
        color: #e8bf5d; }
      .faq .faq_content .faq_block_left .active .faq_block_icon .fas {
        font-family: 'Font Awesome 5 Free'; }
        .faq .faq_content .faq_block_left .active .faq_block_icon .fas:before {
          content: '\f068'; }
    .faq .faq_content .faq_block_right {
      width: 45.5%;
      box-shadow: 0 12px 40px rgba(216, 178, 87, 0.32);
      border-radius: 3px;
      background-color: #e8bf5d;
      padding: 42px 48px 70px 46px;
      color: #111111;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.56px; }
